body {
  background-color: beige;
}
body h1 {
  text-align: center;
  font-family: Helvetica, sans-serif;
}
body .sliderWrapper {
  position: absolute;
  width: 900px;
  left: 50%;
  margin-left: -450px;
  top: 50vh;
  margin-top: -118px;
}
body .sliderWrapper .flex {
  position: relative;
  overflow: hidden;
  height: 350px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
}
body .sliderWrapper .flex .imageWrapper {
  position: relative;
  display: flex;
}
body .sliderWrapper .flex .imageWrapper .sliderImage {
  width: 600px;
  height: 350px;
}
body .sliderWrapper #prev,
body .sliderWrapper #next {
  width: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 3rem;
  margin-top: -27.5px;
}
body .sliderWrapper #prev {
  margin-left: -350px;
}
body .sliderWrapper #next {
  margin-left: 320px;
}
body .sliderWrapper #prev:hover,
body .sliderWrapper #next:hover {
  cursor: pointer;
}
